<!--<header>-->
  <!--<nav>-->
    <!--<ul>-->
      <!--<li><a href="">Link 1</a></li>-->
      <!--<li><a href="">Link 2</a></li>-->
      <!--<li><a href="">Link 3</a></li>-->
      <!--<li><a href="">Link 4</a></li>-->
      <!--<li><a href="">Link 5</a></li>-->
    <!--</ul>-->
  <!--</nav>-->
<!--</header>-->

<!--<section>-->
  <!--<h1>Typography</h1>-->
  <!--<h1>Header 1</h1>-->
  <!--<h2>Header 2</h2>-->
  <!--<h3>Header 3</h3>-->
  <!--<h4>Header 4</h4>-->
  <!--<h5>Header 5</h5>-->
  <!--<h6>Header 6</h6>-->
  <!--<p>Atricle 1</p>-->
  <!--<p>Atricle 2</p>-->
  <!--<p>Atricle 3</p>-->
<!--</section>-->

<section>
  <h1>Flexbox</h1>
  <code>&lt;div flex {{flexAttr}}&gt;&lt;/div&gt;</code>
  <div flex flex-j="c">
    <div flex id="flex" class="example">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
      <div>7</div>
      <div>8</div>
      <div>9</div>
      <div>10</div>
      <div>11</div>
      <div>12</div>
    </div>
    <div class="control">
      <form flex flex-w formGroup="flexForm">
        <div flex flex-d="c">
          <label><input type="radio" name="flex_d" (change)="updFlex('d', '')" checked> none</label>
          <label><input type="radio" name="flex_d" (change)="updFlex('d', 'flex-d=r')"> flex-d=r</label>
          <label><input type="radio" name="flex_d" (change)="updFlex('d', 'flex-d=c')"> flex-d=c</label>
          <label><input type="radio" name="flex_d" (change)="updFlex('d', 'flex-d=cr')"> flex-d=cr</label>
        </div>
        <div flex flex-d="c">
          <label><input type="radio" name="flex_w" (change)="updFlex('w', '')" checked> none</label>
          <label><input type="radio" name="flex_w" (change)="updFlex('w', 'flex-w')"> flex-w</label>
          <label><input type="radio" name="flex_w" (change)="updFlex('w', 'flex-w=r')"> flex-w=r</label>
        </div>
        <div flex flex-d="c">
          <label><input type="radio" name="flex_j" (change)="updFlex('j', '')" checked> none</label>
          <label><input type="radio" name="flex_j" (change)="updFlex('j', 'flex-j=e')"> flex-j=e</label>
          <label><input type="radio" name="flex_j" (change)="updFlex('j', 'flex-j=c')"> flex-j=c</label>
          <label><input type="radio" name="flex_j" (change)="updFlex('j', 'flex-j=sb')"> flex-j=sb</label>
          <label><input type="radio" name="flex_j" (change)="updFlex('j', 'flex-j=sa')"> flex-j=sa</label>
          <label><input type="radio" name="flex_j" (change)="updFlex('j', 'flex-j=se')"> flex-j=se</label>
        </div>
        <div flex flex-d="c">
          <label><input type="radio" name="flex_a" (change)="updFlex('a', '')" checked> none</label>
          <label><input type="radio" name="flex_a" (change)="updFlex('a', 'flex-a=e')"> flex-a=e</label>
          <label><input type="radio" name="flex_a" (change)="updFlex('a', 'flex-a=c')"> flex-a=c</label>
          <label><input type="radio" name="flex_a" (change)="updFlex('a', 'flex-a=b')"> flex-a=b</label>
          <label><input type="radio" name="flex_a" (change)="updFlex('a', 'flex-a=s')"> flex-a=s</label>
        </div>
        <div flex flex-d="c">
          <label><input type="radio" name="flex_ac" (change)="updFlex('ac', '')" checked> none</label>
          <label><input type="radio" name="flex_ac" (change)="updFlex('ac', 'flex-ac=e')"> flex-ac=e</label>
          <label><input type="radio" name="flex_ac" (change)="updFlex('ac', 'flex-ac=c')"> flex-ac=c</label>
          <label><input type="radio" name="flex_ac" (change)="updFlex('ac', 'flex-ac=sb')"> flex-ac=sb</label>
          <label><input type="radio" name="flex_ac" (change)="updFlex('ac', 'flex-ac=sa')"> flex-ac=sa</label>
          <label><input type="radio" name="flex_ac" (change)="updFlex('ac', 'flex-ac=s')"> flex-ac=s</label>
        </div>
        <div flex flex-d="c">
          <label><input type="radio" name="flex_as" (change)="updFlex('as', '')" checked> none</label>
          <label><input type="radio" name="flex_as" (change)="updFlex('as', 'flex-as=e')"> flex-as=e</label>
          <label><input type="radio" name="flex_as" (change)="updFlex('as', 'flex-as=c')"> flex-as=c</label>
          <label><input type="radio" name="flex_as" (change)="updFlex('as', 'flex-as=b')"> flex-as=b</label>
          <label><input type="radio" name="flex_as" (change)="updFlex('as', 'flex-as=s')"> flex-as=s</label>
        </div>
      </form>
    </div>
  </div>

</section>

<!--<section>-->
  <!--<div class="grid">-->
    <!--<div>grid 1</div>-->
    <!--<div>grid 2</div>-->
    <!--<div>grid 3</div>-->
    <!--<div>grid 4</div>-->
    <!--<div>grid 5</div>-->
    <!--<div>grid 6</div>-->
    <!--<div>grid 7</div>-->
    <!--<div>grid 8</div>-->
    <!--<div>grid 9</div>-->
    <!--<div>grid 10</div>-->
    <!--<div>grid 11</div>-->
    <!--<div>grid 12</div>-->
  <!--</div>-->
<!--</section>-->

<!--<section>-->
    <!--<pre>-->
<!--&lt;ul&gt;-->
  <!--&lt;li&gt;Item 1&lt;/li&gt;-->
  <!--&lt;li&gt;Item 2&lt;/li&gt;-->
  <!--&lt;li&gt; Item 3-->
    <!--&lt;ul class=&quot;list-unstyle&quot;&gt;-->
      <!--&lt;li&gt;Item 3.1&lt;/li&gt;-->
      <!--&lt;li&gt;Item 3.2&lt;/li&gt;-->
      <!--&lt;li&gt;Item 3.3&lt;/li&gt;-->
    <!--&lt;/ul&gt;-->
  <!--&lt;/li&gt;-->
<!--&lt;/ul&gt;-->
    <!--</pre>-->
  <!--<ul>-->
    <!--<li>Item 1</li>-->
    <!--<li>Item 2</li>-->
    <!--<li>Item 3-->
      <!--<ul class="list-unstyle">-->
        <!--<li>Item 3.1</li>-->
        <!--<li>Item 3.2</li>-->
        <!--<li>Item 3.3</li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
<!--</section>-->

<!--<section>-->
    <!--<pre>-->
<!--&lt;p class=&quot;align-left&quot;&gt;Text left&lt;/p&gt;-->
<!--&lt;p class=&quot;align-center&quot;&gt;Text center&lt;/p&gt;-->
<!--&lt;p class=&quot;align-right&quot;&gt;Text right&lt;/p&gt;-->
<!--&lt;p class=&quot;align-justify&quot;&gt;Text justify&lt;/p&gt;-->
    <!--</pre>-->
  <!--<p class="align-left">Text left</p>-->
  <!--<p class="align-center">Text center</p>-->
  <!--<p class="align-right">Text right</p>-->
  <!--<p class="align-justify">Text justify</p>-->
<!--</section>-->

<a href="eazy-css.sass"> Download Sass</a>

<footer>
  <p>
    © 2017
    <a href="//dergnuov.net">Dergunov Dmitry</a> |
    <a href="//univay.tech">univay digital.</a>
  </p>
</footer>
