section
  padding: 3rem 0
  width: 100%

.example
  overflow: hidden
  flex: 0 0 50%
  max-width: 50%
  padding: 2rem
  border: 1px solid
  &[flex] div
    width: 5rem
    height: 5rem
    color: #fff
    padding: 1rem
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid #fff
    background: #745ec5

.control
  flex: 0 0 50%
  div
    padding: 0 1rem
