*
  padding: 0
  margin: 0
  box-sizing: border-box

html, body
  width: 100%
  overflow-x: hidden

[flex]
  display: flex
  /* Directions */
  &[flex-d=r]
    flex-direction: row-reverse
  &[flex-d=c]
    flex-direction: column
  &[flex-d=cr]
    flex-direction: column-reverse

  &[flex-w]
    flex-wrap: wrap
  &[flex-w=r]
    flex-wrap: wrap-reverse

  /* Justify content */
  &[flex-j=e]
    justify-content: flex-end
  &[flex-j=c]
    justify-content: center
  &[flex-j=sb]
    justify-content: space-between
  &[flex-j=sa]
    justify-content: space-around
  &[flex-j=se]
    justify-content: space-evenly

  /* Align items */
  &[flex-al=e]
    align-items: flex-end
  &[flex-a=c]
    align-items: center
  &[flex-a=b]
    align-items: baseline
  &[flex-a=s]
    align-items: stretch

  /* Align content */
  &[flex-ac=e]
    align-content: flex-end
  &[flex-ac=c]
    align-content: center
  &[flex-ac=sb]
    align-content: space-between
  &[flex-ac=sa]
    align-content: space-around
  &[flex-ac=s]
    align-content: stretch

  /* Align self */
  [flex-as=e]
    align-self: flex-end
  [flex-as=c]
    align-self: center
  [flex-as=b]
    align-self: baseline
  [flex-as=s]
    align-self: stretch

ul, ol, li
  [unstyle]
    list-style: none
